@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;600;800;1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400&display=swap');

:root {
    --primary-red: #ff5757;
    --primary-red-transparent: #ff575780;
    --secondary-red: #ffa1a1;
    --secondary-light-red: #ffd6d6;
    --primary-black: #131313;
    --primary-gray: #a8a8a8;
    --primary-light-gray: #f7f7f7;
    --primary-white: #ffffff;
    --primary-transparent-white: #ffffff40;

    --failure-background: #f37272;
    --failure-foreground: #701a1a;
    --success-background: #52bd52;
    --success-foreground: #0c570c;
    --info-background: #63cfdd;
    --info-foreground: #0d6c7c;

    --master-margin-width: 800px;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    /* overflow: hidden; */
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: 'Work Sans 400', sans-serif;
}

#header {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hero {
    height: 70vh;
    max-height: 500px;
    width: 100%;
    border-radius: 15px;
    background-image: url(/img/studying.jpg);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: right;
    margin-bottom: 15px;
}

#hero-content {
    display: flex;
    flex-direction: column;
    align-content: left;
    justify-content: center;
    align-items: flex-start;
    border-radius: 15px;
    gap: 10px;
    background-image: linear-gradient(to right, #ffffff 20%, #ffffff38 80%);
    height: 100%;
    padding: 20px;
}

#hero-content > h1 {
    width: 80%;
    font-size: 50px;
}

#hero-content > p {
    width: 50%;
    font-weight: 700;
    line-height: 20px;
}

#footer {
    width: 100%;
    background-color: var(--primary-black);
    color: var(--primary-white);
    text-align: center;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 15px 15px 0px 0px;
}

#contact-form {
    display: flex;
}

#letter {
    background-image: url(/img/letter.jpg);
    background-size: cover;
    padding: none;
}

#letter .fade-letter {
    background-image: linear-gradient(to right, #fffa, #fff0);
    width: 100%;
    height: 100%;
}

#newsletter-block {
    background-position-y: -50px;
    background-size: cover;
    /* background-position-y: bottom; */
}

#newsletter-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
}

#newsletter-input {
    width: 100%;
}

#newsletter-btn {
    width: 30%;
}

#error-msg {
    color: var(--primary-black);
    margin-top: 5px;
    font-size: 12px;
    min-height: 20px;
}

@keyframes pulseText {
    0% {opacity: 0;}
    20% {opacity: 1;}
    40% {opacity: 0;}
    60% {opacity: 1;}
    80% {opacity: 0;}
    100% {opacity: 1;}
}

.tiny-footer {
    font-size: 10px;
}

.label-input-pair {
    width: 66%;
}

.label-input-pair label {
}

.form-block {
    border-radius: 15px;
    padding: 15px;
    min-height: 100px;
    background-color: var(--primary-light-gray);
    box-shadow: 0px 0px 15px #0003;

    background-image: url(/img/waves.png);
    background-position-x: -150px;
    background-position-y: -110px;
    background-size: 200%;
}

span.material-icons {
    vertical-align: middle;
}

span.material-icons.no-height {
    line-height: 0.2;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.form-block h1 {
    font-size: 20px;
    color: var(--primary-white);
    /* font-weight: 800; */
}

.right-align {
    text-align: right;
}

.half-width {
    width: 50%;
}

form label {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

form input, form textarea {
    background-color: var(--primary-white) !important;
    color: var(--primary-black);
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
    border: solid 2px var(--primary-black);
    resize: none;
}

form .spacer {
    margin-top: 15px;
}

form button {
    min-width: 30%;
    align-self: flex-end;
}

input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0px 1000px var(--secondary-light-red) inset;
}

.single-view {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-content {
    width: 300px;
    height: auto;
    min-height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.info {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    gap: 15px;
    width: 100%;
}

.info-title {
    padding-top: 45px;
    margin-bottom: 10px;
}

.info-title.center {
    text-align: center;
}

.info-title.right {
    text-align: right;
}

.info-block {
    border-radius: 15px;
    background-color: var(--primary-light-gray);
    width: 100%;
    min-height: 100px;
    min-width: 100px;
    padding: 15px;
}

.info-block.no-padding {
    padding: 0px;
}

.info-shadow {
    box-shadow: 0px 0px 10px #0002;
    background-color: var(--primary-white);
    border-radius: 15px;
}

.info-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.info-section:hover img.profile {
    border: solid 2px var(--primary-red);
    box-shadow: 3px 3px var(--primary-red-transparent);
}

img.profile {
    border-radius: 500px;
    max-width: 150px;
    border: solid 2px var(--primary-white);
    box-shadow: 3px 3px var(--primary-white);
    margin-bottom: 10px;
    user-select: none;
}

.zoom-pic:hover {
    background-blend-mode:multiply;
}

.info-section h3 {
    text-align: center;
}

.info-section .sub-title {
    
}

.info-block.waves {
    background-image: url(/img/waves.png);
    /* background-position-x: -150px;
    background-position-y: -110px;
    background-size: 150%; */
    background-size: cover;
}

.info-block.waves:hover {
    background-position-y: -10px;
}

.info-block.half-size {
    width: 50%;
}

.accent {
    color: var(--primary-red);
}

.gray-accent {
    color: var(--primary-light-gray);
}

.white-accent {
    color: var(--primary-white);
}

button.primary, a.primary {
    width: auto;
    height: auto;
    padding: 10px 15px;
    margin: 0px;
    border-radius: 15px;
    background-color: var(--primary-red);
    color: var(--primary-black);
    border: none;
    font-weight: 700;
    font-size: 15px;
    box-shadow: 3px 3px var(--primary-red-transparent);
    text-decoration: none;
    user-select: none;
}

button.primary:hover, a.primary:hover {
    box-shadow: 3px 3px var(--primary-black);
}

button.primary:active, a.primary:active {
    box-shadow: none;
    margin: 3px -3px -3px 3px;
}

button.secondary, a.secondary {
    width: auto;
    height: auto;
    padding: 10px 15px;
    margin: 0px;
    border-radius: 15px;
    background-color: var(--primary-white);
    color: var(--primary-black);
    border: solid 2px var(--primary-black);
    font-weight: 700;
    font-size: 15px;
    box-shadow: 3px 3px #0005;
    text-decoration: none;
    user-select: none;
}

button.secondary:hover, a.secondary:hover {
    box-shadow: 3px 3px var(--primary-black);
}

button.secondary:active, a.secondary:active {
    box-shadow: none;
    margin: 3px -3px -3px 3px;
}

.shadow {
    box-shadow: 2px 2px #000f;
}

.a-link {
    color: black;
    text-decoration: none;
    text-align: center;
    min-width: 50px;
    height: 50px;
    position: relative;
    display:flex;
    align-items:center;
    justify-content:center;
}

.a-link:active {
    margin: 3px -3px -3px 3px;
}

.a-link:active::before {
    margin: -3px 3px 3px -3px;
}

.a-link:hover::before {
    background: url(/img/oliver-circle.png);
    opacity: 0.5;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-size: 40px; 
    background-repeat: no-repeat;
    background-position: center;
    animation: spin 6s infinite linear;
    z-index: -1;
    display: flex;
    align-self: center;
    justify-self: center;
}

@keyframes spin
{  
0%   {transform: rotate(0deg); transform-origin: 50%;}  
100% {transform: rotate(360deg); transform-origin: 50%;}  
}

a.white {
    color: var(--primary-white);
    text-decoration: underline;
}

a.white:visited {
    color: var(--primary-light-gray);
}

a.white:hover {
    color: var(--primary-black);
}

a.black {
    color: var(--primary-black);
    text-decoration: underline;
}

a.black:visited {
    color: var(--primary-gray);
}

a.black:hover {
    color: var(--primary-gray);
}

p.note {
    font-size: 10px;
}

.master-margin {
    max-width: var(--master-margin-width);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.main-logo {
    width: 150px;
    height: auto;
    display: flex;
    flex: 0 1 auto;
    user-select: none;
    cursor: pointer;
}

.header-links {
    display: flex;
    gap: 30px;
    font-weight: 700;
    align-items: center;
}

/* ALERTS */

#alerts {
    width: var(--master-margin-width);
    height: auto;
    position: absolute;
    margin-top: 20px;
    z-index: 2;
    align-self: flex-start;
}

.alert {
    position: relative;
    min-height: 50px;
    border-radius: 15px;
    padding: 15px;
    margin: 0px 10px 15px;
    background-color: var(--primary-white);
    border: solid 2px var(--primary-black);
    box-shadow: 3px 3px var(--primary-black);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 15px;
    
    animation: disappear 1s forwards;
    animation-delay: 10s;
}

@keyframes disappear {
    from {opacity: 1;}
    to {opacity: 0;}
}

.alert > .alert-icon {
    max-height: 50px;
    border-radius: 75px;
}

.alert.failure > .alert-icon {
    background-color: var(--failure-background);
}

.alert.success > .alert-icon {
    background-color: var(--success-background);
}

.alert.information > .alert-icon {
    background-color: var(--info-background);
}

.alert > p {
    padding-right: 30px;
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    user-select: none;
}

/* LOADING */

.spinner {
    position: absolute;
    width: 40px;
    height: auto;
    border-radius: inherit;
    animation: spin 1s infinite linear;
    z-index: 2;
    user-select: none;
    /* display: flex;
    justify-self: center;
    align-self  : center; */
}

.unclickable {
    pointer-events: none;
    user-select: none;
}