#system {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    gap: 15px;
    height: 100vh;
    position: relative;
}

#system::-webkit-scrollbar {
    display: none;
}

#sidebar {
    width: 150px;
    height: 100vh;
    padding: 15px 0px;
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    z-index: 2;
    position: fixed;
}

#menu {
    background-size: 500%;
    background-position-x: -150px;
    background-position-y: -100px;
    background-image: url(/img/side-waves.png);
    border-radius: 15px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    padding: 15px;
}

.account-info {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: solid 2px var(--primary-black);
}

.account-btns {
    display: flex;
    width: 100%;
    height: inherit;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.account-btns > span {
    /* border: solid 2px var(--primary-black); */
    border-radius: 100px;
    padding: 2px;
    cursor: pointer;
}

#account-name {
    /* margin: 5px 0px; */
    width: 75px;
    text-align: left;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    margin-top: 3px;
}

.logout {
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
    padding: 3px 2px 3px 4px;
    height: fit-content;
}

.icn-18 {
    vertical-align: middle !important;
    font-size: 18px !important;
}

.icn {
    display: inline-flex !important;
    vertical-align: middle !important;
    line-height: 1.1 !important;
    font-size: 16px !important;
    padding-right: 3px;
}

.inline-icn {
    display: inline-flex !important;
    vertical-align: middle !important;
}

.icn-mini {
    display: inline-flex !important;
    vertical-align: middle !important;
    line-height: 1.1 !important;
    font-size: 16px !important;
}

#navigation {
    font-size: 14px;
    margin: 5px 0px 0px 0px;
}

#navigation > p, #navigation > ul > * {
    user-select: none;
    cursor: pointer;
    line-height: 1.3;
    padding: 3px 5px;
    margin: 0px -5px;
    width: fit-content;
    border-radius: 5px;
    display: inline-flex;
    vertical-align: middle;
}

#navigation > ul > li {
    line-height: 1.3;
    margin-left: 6px;
    padding: 3px 5px;
    display: flex;
    flex-direction: row;
    font-style: italic;
}

#navigation > ul {
    list-style-type: none;
    overflow-y: scroll;
    max-height: 200px;
}

#navigation > ul::-webkit-scrollbar {
    display: none;
}

#navigation > p:hover, #navigation > ul > li:hover, .logout:hover {
    background-color: var(--primary-transparent-white);
}

/* #navigation > ul > li:active, #navigation > ul > li.active, */
#navigation > p:active, #navigation > p.active, .logout:active { 
    background-color: var(--primary-white);
}

/* PAGE STYLING */

#system-content {
    height: auto;
    min-height: 100px;
    margin-top: 15px;
    padding-left: 165px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}

#system-content > .page {
    height: auto;
    display: none;
    position: relative;
} 

#join-by-key, #hh-invite-email {
    display: flex;
    flex-grow: 1;
}

#system-content > .page.active {
    display: block;
}

.page .page-title {
    font-size: 24px;
}

.page .page-top-margin {
    padding-top: 55px;
}

.page .top-page-background {
    background-image: url(/img/apartment3.jpg);
    background-position-x: 50%;
    background-position-y: 70%;
    background-size: 100%;
    z-index: 3 !important;
    position: relative;
    border-radius: 15px;
}

.top-page-background > .overlay {
    background-image: linear-gradient(to bottom, #fff0, #ffffffef 90%);
    padding: 10px;
    z-index: 3;
}

#household {
    /* z-index: 3; */
}

.spaced-out {
    justify-content: space-between;
}

.page .page-subtitle {
    font-size: 18px;
    margin-top: 30px;
    font-style: italic;
} 

.page .page-subtitle.no-margin {
    margin: 0px;
}

.fade-scroll {
    width: 100%;
    height: 80px;
    position: fixed;
    margin-top: -20px;
    z-index: 2;
    background-image: linear-gradient(to bottom, #fff 30%, #fff0);
}

.page-form {
    display: inline-flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
}

.page-field {
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
}

.gap-10 {
    gap: 10px;
}

.gap-15 {
    gap: 15px;
}

.align-end {
    align-items: flex-end;
}

.align-start {
    align-items: flex-start;
}

.at-the-end {
    align-self: flex-end;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.expense-flow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: max-content;
    flex: 1;
}

.expense-flow > .row {
    align-items: center;
}

.expense-flow > .row > p {
    line-height: 1;
}

form .w-33 {
    width: 33%;
}

form .w-50 {
    width: 50%;
}

form .w-66 {
    width: 66%;
}

form .w-25 {
    width: 25%;
}

/* Settings page Household block */

.hh-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
} 

.hh-block {
    width: 47%;
    /* min-height: 100px; */
    background-color: var(--primary-light-gray);
    border: solid 2px var(--primary-black);
    box-shadow: 3px 3px var(--primary-gray);
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 15px;
    position: relative;
}

.hh-block .hh-name {
    font-size: 20px;
    /* font-style: italic; */
    font-weight: bolder;
}

.hh-block .hh-id {
    color: var(--primary-gray);
    text-transform: uppercase;
    font-style: italic;
    font-size: 12px;
    margin: 5px 0px 0px 0px;
}

.hh-block .hh-joined {
    color: var(--primary-gray);
    font-style: italic;
    font-size: 12px;
}

.hh-block .hh-leave {
    position: absolute;
    top: 15px;
    right: 15px;
    color: var(--primary-black);
    display: none;
    user-select: none;
    cursor: pointer;
}

.hh-block:hover {
    box-shadow: 3px 3px var(--primary-black);
}

.hh-block:hover .hh-leave {
    display: block;
}

.hh-block .hh-leave:hover {
    color: var(--primary-red);
}

/* Loading page */

#loading-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#loading-page > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* Household page */

.user-overview .user, .expenses .expense {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: nowrap;
    padding: 5px 5px;
    border-radius: 15px;
}

.user-overview .user, .user-overview .user > .row, .expenses .expense, .expenses .expense > .row {
    display: flex;
    align-items: center;
}

.expenses .placeholder, .payments .placeholder {
    border: dashed 2px var(--primary-gray);
    color: var(--primary-gray);
    font-style: italic;
    min-height: 50px;
    user-select: none;
}

.payments {
    padding: 10px 0px;
}

.payments .placeholder {
    border-radius: 15px;
    display: flex;
    align-items: center;
    border: dashed 2px var(--primary-gray);
    color: var(--primary-gray);
    font-style: italic;
    min-height: 50px;
    user-select: none;
    padding: 0px 10px;
}

.user-overview .user:hover, .expenses .expense:hover {
    background-color: var(--primary-light-gray);
}

.user-overview .face, .expense .expense-icon {
    font-size: 40px !important;
    width: 40px imp !important;
    user-select: none;
}

.expenses .expense p {
    font-size: 14px;
}

.user-overview .balance, .expenses .amount {
    font-weight: bold;
}

.user-overview .dots{
    font-size: 20px !important;
    user-select: none;
    cursor: pointer;
}

.expenses .expense .dots {
    font-size: 20px !important;
    user-select: none;
    cursor: pointer;
    opacity: 0;
    width: 0px;
}

.expenses .expense:hover .dots {
    opacity: 1;
    width: auto;
}

#hh-users .user {
    display: flex;
    justify-content: stretch;
}

#hh-users .user > * {
    flex: 1;
}

#hh-users .expense-count {
    text-align: end;
}

#exp-payers {
    display: flex;
    flex-direction: column;
}

#exp-payers .payer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 1px;
    align-items: center;
    height: 30px;
    min-width: 300px;
    padding: 5px 0px;
    font-size: 14px;
}

#exp-payers .payer .share {
    justify-self: flex-end;
    width: 50px;
    margin-left: 10px;
    border: none;
    background-color: var(--primary-medium-gray) !important;
    text-align: right;
}

.percentage-input {
    display: flex;
    align-items: center;
}

.percentage-input::after {
    content: '%';
    margin-left: 3px;
    font-size: 20px;
}

/* No arrows in number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}